Host pine pine.intra pine.intra.net.ict.e.titech.ac.jp
    HostName pine.intra.net.ict.e.titech.ac.jp
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host fool fool.intra fool.intra.net.ict.e.titech.ac.jp
    HostName fool.intra.net.ict.e.titech.ac.jp
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host chipndale chipndale.intra 10.0.3.254
    HostName 10.0.3.254
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    User admin
